# Node modules
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (very important to ignore)
/.env
.env.local
.env.*.local

# Build output (kalau kamu build ke folder dist/build)
dist/
build/

# IDE/editor config
.vscode/
.idea/

# Mac system files
.DS_Store

# Optional backup files
*.bak
*.backup

/generated/prisma